*{
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

/* not working */
a :hover{
    text-decoration: underline;
}

header{
    text-align: center;
    
}

.topic{
    width: fit-content;
    margin: 30px auto;
    
}

.about_text{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 600px;
}

.section-one{
    width:fit-content;
    display: inline-block;
}

.section-two{
    width:fit-content;
    display: inline-block;
}

.link{
    text-align: center;
    margin-bottom: 80px;
}

.card{
    background-color: #f5e2ad;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    margin: 30px auto;
    box-shadow: 0px 1px 2px 0.2px grey;
}

/* not working */

/* .fa-solid fa-xmark{
    color: black;
}

.fa-solid fa-heart{
    color: red;
} */

#card-num{
    margin: 0 25px;
}

.reactions{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}








