*{
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

/* not working */
a :hover{
    text-decoration: underline;
}

header{
    text-align: center;
    
}

.topic{
    width: fit-content;
    margin: 30px auto;
    
}

.about_text{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 600px;
}

.section-one{
    width:fit-content;
    display: inline-block;
}

.section-two{
    width:fit-content;
    display: inline-block;
}

.link{
    text-align: center;
    margin-bottom: 80px;
}

.card{
    background-color: #f5e2ad;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    margin: 30px auto;
    box-shadow: 0px 1px 2px 0.2px grey;
}

/* not working */

/* .fa-solid fa-xmark{
    color: black;
}

.fa-solid fa-heart{
    color: red;
} */

#card-num{
    margin: 0 25px;
}

.reactions{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.instructions{
    width: fit-content;
    margin: 20px auto;
}

/* Styling the main section */

.notice{
    margin: 700px auto 50px;
    width: fit-content;
    border: solid 0.5px black;
    border-radius: 4px;
    padding: 20px;

}

.top{
    width: fit-content;
    margin: 30px auto;
    
}

.top h2{
    padding:20px ;
}

/* Trophy icon not showing*/

.cards{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.how-it-works{
    width: 400px;
    text-align: left;
    margin: 30px auto;
    
}

.how-it-works .part-one h2{
    margin-bottom: 20px;
    text-align: center;
}

.how-it-works .part-two p{
    margin: 20px 0;
}

.notice2{
    margin: 30px auto 50px;
    width: fit-content;
    border: solid 0.5px black;
    border-radius: 4px;
    padding: 20px;    
}

.other-ideas{
    border-top: 0.1px solid gray;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
    padding: 20px 340px 0px 240px;
}

.last-idea{
    text-align: center;
}

footer{
    margin-top: 150px;
    display: flex;
    background-color: rgb(24, 23, 23);
    color: azure;
    padding: 25px;
    position: sticky;
    bottom: 0;
}

.footer-container{
    display: flex;
    margin: 0 auto;
}





